.idea/
.vscode/
.DS_Store/
model/
model_weights/
models/__pycache__/
GPT_logs/
errors/
frontend/web/
records/
summary/
wandb/
utils/__pycache__/
scripts/
logs_case_study/
logs_transfer/
records_case_study/
records_transfer/
memory/
/*.txt
*.pyc
*.pkl
playground*/
run_logs/
r1_logs/
CityFlow/
*.env
logs/
__pycache__/

data/